<!DOCTYPE html>
<html>
<head>
    <!--GoogleMaps API AIzaSyC3-A9m2-bK6oetw4cCJaB0aNPDa4MTaME-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdoptMe - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <header>
        <h1>AdoptMe - The place to find your new best friend!</h1>
    </header>
	 <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=363618644062122';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your save button code -->
      <div class="fb-save" 
        data-uri="http://www.your-domain.com/your-page.html">
      </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Animals", "Index", "Animals")</li>
                    <li>@Html.ActionLink("Descision-Helper", "Index", "MachineLearning")</li>
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <span class="nav navbar-nav navbar-right" style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776;</span>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div id="mainContent">
            @RenderBody()
        </div>
        <aside>
            <section class="message-of-the-day">
                <p>We love all kind of pets! Here is a picture to prove it!</p>
                <img src="img/message-of-the-day.jpeg" />
            </section>
            <section class="suggestions">
                <p>@Html.ActionLink("Tell us", "Index", "MachineLearning") a little about yourself and we'll let you know what is the best pet for you!</p>

            </section>
        </aside>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AdoptMe</p>
			<div class="fb-page" data-href="https://www.facebook.com/AdoptMe-1157166587749245/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AdoptMe-1157166587749245/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AdoptMe-1157166587749245/">AdoptMe</a></blockquote></div>
        </footer>
    </div>
</body>
</html>
