<!DOCTYPE html>
<html>
<head>
    <!--GoogleMaps API AIzaSyC3-A9m2-bK6oetw4cCJaB0aNPDa4MTaME-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdoptMe - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <header>
        <h1>AdoptMe - The place to find your new best friend!</h1>
    </header>
	 <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=363618644062122';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Your save button code -->
    <div class="fb-save" 
        data-uri="http://www.your-domain.com/your-page.html">
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AdoptME", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Animals", "Index", "Animals")</li>
                    <li>@Html.ActionLink("Descision-Helper", "Index", "MachineLearning")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div id="mainContent">
            @RenderBody()
        </div>
        <aside>
            <canvas id="myCanvas" width="400" height="100" style="border:1px solid #d3d3d3;">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
            <script>
                var c = document.getElementById("myCanvas");
                var ctx = c.getContext("2d");

                // Create gradient
                var grd = ctx.createLinearGradient(0, 0, 400, 0);
                grd.addColorStop(0, "purple");
                grd.addColorStop(1, "white");

                // Fill with gradient
                ctx.fillStyle = grd;
                ctx.fillRect(10, 10, 400, 80);
                ctx.font = "30px Arial";
                ctx.strokeText("Adopt now with AdoptMe!", 10, 50);
            </script>  
            <section id="message-of-the-day" class="framed">
                <p>We love all kinds of pets! Here is a picture to prove it!</p>
                <img src="~/Content/Pictures/message-of-the-day.jpg" alt="Message Of The Day!" style="width:150px;height:250px;" />
            </section>
            <section id="suggestions" class="framed">
                <p>@Html.ActionLink("Tell us", "Index", "MachineLearning") a little about yourself and we'll let you know what is the best pet for you!</p>
            </section>
            <section>
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1157740974358473%26id%3D1157166587749245&width=500" width="300" height="171" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </section>
        </aside>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AdoptMe</p>
            <div class="fb-page"
                 data-href="https://www.facebook.com/AdoptMe-1157166587749245/"
                 data-width="380"
                 data-hide-cover="false"
                 data-show-facepile="false"></div>      
            
        </footer>
    </div>
</body>
</html>
