@model AdoptMe.Models.AdoptionAgencyModel

@{
    ViewBag.Title = "Adoption-Agency Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="outer-section">
    <h2>@Html.DisplayFor(model => model.AdoptionAgencyName)</h2>
</section>
<section class="outer-section">
    <div id="weather"></div>
</section>
<section class="outer-section">
    <div id="map" style="clear:both; height:400px; width:500px;"></div>
</section>
<section class="outer-section">
    <p>
        @Html.ActionLink("Edit", "EditAdoptionAgency", new { id = Model.AdoptionAgencyID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>
<script>
    function setMap(){
        initMap("@Html.DisplayFor(model => model.AdoptionAgencyLocationLat)", "@Html.DisplayFor(model => model.AdoptionAgencyLocationLng)");
    }
</script>
@Scripts.Render("~/Scripts/load-map.js")
@Scripts.Render("~/Scripts/weather.js")
@Scripts.Render("~/Scripts/simpleWeather/jquery.simpleWeather.min.js")
@Styles.Render("~/Content/Weather.css")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3-A9m2-bK6oetw4cCJaB0aNPDa4MTaME&callback=setMap"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>-->
<script>
    $(document).ready(initWeather(@Html.DisplayFor(model => model.AdoptionAgencyLocationLat), @Html.DisplayFor(model => model.AdoptionAgencyLocationLng)));
</script>