@model AdoptMe.Models.AdoptionAgencyModel

@{
    ViewBag.Title = "Adoption-Agency Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adoption-Agency Details</h2>

<div>
    <h4>AnimalModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdoptionAgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionAgencyName)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.AdoptionAgencyLocationLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionAgencyLocationLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdoptionAgencyLocationLng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdoptionAgencyLocationLng)
        </dd>-->

    </dl>
</div>
<div id="map" style="clear:both; height:400px; width:500px;"></div>
<p>
    @Html.ActionLink("Edit", "EditAdoptionAgency", new { id = Model.AdoptionAgencyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    function setMap(){
        //var location = { lat: parseFloat("@Html.DisplayFor(model => model.AdoptionAgencyLocationLat)"), lng: parseFloat("@Html.DisplayFor(model => model.AdoptionAgencyLocationLng)") };
        initMap("@Html.DisplayFor(model => model.AdoptionAgencyLocationLat)", "@Html.DisplayFor(model => model.AdoptionAgencyLocationLng)");
        /*var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });*/
    }
</script>
@Scripts.Render("~/Scripts/load-map.js")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3-A9m2-bK6oetw4cCJaB0aNPDa4MTaME&callback=setMap"></script>