@model AdoptMe.Models.AnimalModel

@{
    ViewBag.Title = "Animal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="outer-section">
    <h2>Animal Details</h2>
</section>

<section class="outer-section">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AnimalName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnimalName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnimalType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnimalType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnimalBreed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnimalBreed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnimalColor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnimalColor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnimalAge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnimalAge)
            </dd>

        </dl>
    </div>
</section>
<section class="outer-section">
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>
